
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body,html,#root{
 width:100%;
 height: 100%;
}

body{
  background-color:#0d1117;
  color:#00ff9c;
  font-family: "Courier New", monospace;
}

.hero{
  /* margin-top: 20px; */
  align-items: center;
  height: 85vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  
  background: radial-gradient(circle at top, #111827, #020617);
  color:#00ff9c;
}


/* section */
.skills{
  min-height:80vh;
  padding:80px 40px;
  background:#020617;
  color:#00ff9c;
  text-align:center;
  border-top: #00ff9c solid 1px;
}

/* title */
.skill-title{
  font-size:32px;
  margin-bottom:40px;
  text-shadow:0 0 10px #00ff9c;
}

/* grid */
.skill-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
  gap:25px;
  max-width:900px;
  margin:auto;
}

/* card */
.skill-card{
  padding:25px;
   border:1px solid #00ff9c;
  border-radius:10px;
  font-size:18px;
  background:#020617;
  transition:0.4s;
  cursor:pointer;
}

/* hover glow */
.skill-card:hover{
  transform:translateY(-8px) scale(1.05);
  box-shadow:0 0 20px #00ff9c;
  background:#031926;
}
/*NAVBAR*/
.navbar{
  position: fixed;
  top:0;
  z-index:1000;

  width:100%;
  height:70px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:0 40px;

  background:#020617;
  color:#00ff9c;
  border-bottom:1px solid #00ff9c;
  transition:0.4s;
}

/* glow when scroll */
.navbar-glow{
  box-shadow:0 0 20px #00ff9c;
}
.nav-links {
  display: flex;        /* makes li horizontal */
  align-items: center;  /* vertical alignment */
  gap: 25px;            /* spacing between items */
  list-style:none;/* remove bullet points */
  margin-left: auto;
  margin-right: 20px;
}

.nav-links li {
  cursor: pointer;
}

.logo{
  font-size: 22px;
  font-weight: bold;
   color:#00ff9c;
}

.nav-links li{
cursor: pointer;
color:#00ff9c;
}

.login-btn{
  background-color: #167c55;
border: none;
padding: 8px 15px;
color: white;
border-radius: 5px;
cursor: pointer;
}

.login-btn:hover{
  background-color:  #00ff9c;
}




:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button{
  background:black;
  color:#00ff9c;
  border:1px solid #00ff9c;
  padding:10px 20px;
  margin-top:20px;
  cursor:pointer;
  font-family:monospace;
}

button:hover{
  background:#00ff9c;
  color:black;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #74eaff;
  }
  button {
    background-color:#076944;
  }
}



@media (max-width:768px){
  .navbar{
    width:100%;
    padding: 0px 15px;
    height: 70px;
  }

  .nav-links{
    gap: 12px;
    font-size: 14px;
  }
.navbar-glow{
  box-shadow:0 0 20px #00ff9c;
  border-bottom:1px solid #00ff9c;
}
  .logo{
    font-size: 18px;
  }
  
}


.projects{
   background:#020617;
  color:#00ff9c;
  border-bottom:1px solid #00ff9c;
  border-top: #00ff9c 1px solid;
}

/* section spacing */
.projects{
  padding:100px 20px;
  background:#020617;
  color:#00ff9c;
  text-align:center;
}

/* title */
.project-title{
  font-size:34px;
  margin-bottom:60px;
  text-shadow:0 0 12px #00ff9c;
}

/* grid layout */
.project-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
  gap:35px;
  max-width:1100px;
  margin:auto;
}

/* card */
.project-card{
  background:#020617;
  padding:35px;
  border-radius:12px;
  border:1px solid #00ff9c;
  text-align:left;
  transition:0.4s;
  line-height:1.6;
}

/* hover */
.project-card:hover{
  transform:translateY(-10px) scale(1.02);
  box-shadow:0 0 25px #00ff9c;
}

/* tech used */
.tech-used{
  margin-top:15px;
  font-size:14px;
  color:#38bdf8;
}

/* github link */
.project-card a{
  display:inline-block;
  margin-top:18px;
  color:#00ff9c;
  text-decoration:none;
  border:1px solid #00ff9c;
  padding:6px 14px;
  border-radius:6px;
}

.project-card a:hover{
  background:#00ff9c;
  color:black;
}


.hero-buttons{
  margin-top:30px;
  display:flex;
  justify-content:center;
  align-items:center;
  gap:20px;
  flex-wrap:wrap;   /* responsive */
}

/* first button */
.primary-btn{
  background:#00ff9c;
  color:black;
  border:none;
  padding:12px 22px;
  font-size:16px;
  border-radius:6px;
  cursor:pointer;
  transition:0.3s;
}

.primary-btn:hover{
  transform:scale(1.05);
}

/* resume button */
.secondary-btn{
  margin-top: 20px;
  background:transparent;
  color:#00ff9c;
  border:1px solid #00ff9c;
  padding:12px 22px;
  font-size:16px;
  border-radius:6px;
  cursor:pointer;
  transition:0.3s;
}

.secondary-btn:hover{
  background:#00ff9c;
  color:black;
}


.footer{
  background:#020617;
  color:#00ff9c;
  padding:60px 40px 20px;
  border-top:1px solid #00ff9c;
}

.footer-container{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:40px;
  max-width:1100px;
  margin:auto;
}

.footer h2,
.footer h3{
  margin-bottom:15px;
  text-shadow:0 0 8px #00ff9c;
}

.footer p{
  margin:6px 0;
  font-size:14px;
}

.footer-bottom{
  text-align:center;
  margin-top:40px;
  padding-top:20px;
  border-top:1px solid #00ff9c;
  font-size:13px;
  opacity:0.8;
}


.architecture{
  padding:100px 20px;
  background:#020617;
  color:#00ff9c;
  text-align:center;
}

.arch-title{
  font-size:34px;
  margin-bottom:50px;
  text-shadow:0 0 12px #00ff9c;
}

/* flow layout */
.arch-flow{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  align-items:center;
  gap:15px;
  max-width:1000px;
  margin:auto;
}

/* boxes */
.arch-box{
  padding:18px 25px;
  border:1px solid #00ff9c;
  border-radius:8px;
  background:#020617;
  font-size:16px;
  transition:0.3s;
}

/* hover glow */
.arch-box:hover{
  transform:scale(1.08);
  box-shadow:0 0 20px #00ff9c;
}

/* arrow */
.arch-flow span{
  font-size:22px;
  color:#38bdf8;
}



.github{
  padding:100px 20px;
  background:#020617;
  color:#00ff9c;
  text-align:center;
}

.github-title{
  font-size:34px;
  margin-bottom:20px;
  text-shadow:0 0 10px #00ff9c;
}

.github-text{
  margin-bottom:40px;
  opacity:0.8;
}

.github-card{
  border:1px solid #00ff9c;
  padding:40px;
  max-width:500px;
  margin:auto;
  border-radius:12px;
  background:#020617;
  transition:0.4s;
}

.github-card:hover{
  transform:translateY(-8px);
  box-shadow:0 0 25px #00ff9c;
}

.github-btn{
  display:inline-block;
  margin-top:20px;
  padding:10px 18px;
  border:1px solid #00ff9c;
  color:#00ff9c;
  text-decoration:none;
  border-radius:6px;
  transition:0.3s;
}

.github-btn:hover{
  background:#00ff9c;
  color:black;
}



.scroll-btn{
  position:fixed;
  bottom:30px;
  right:30px;
  padding:12px 16px;
  font-size:20px;
  background:#00ff9c;
  color:black;
  border:none;
  border-radius:50%;
  cursor:pointer;
  box-shadow:0 0 15px #00ff9c;
  z-index:1000;
  transition:0.3s;
}

.scroll-btn:hover{
  transform:scale(1.1);
}


/* Hide scrollbar for Chrome, Edge, Safari */



/* width */
::-webkit-scrollbar {
  width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #020617;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00ff9c;
  border-radius: 10px;
}